# Assignment 8, Part 2: Pandas

This notebook is based on the official `pandas` [documentation](https://pandas.pydata.org/pandas-docs/stable/getting_started/index.html).  Unless otherwise credited, quoted text comes from this document.

`Pandas` is a Python package that we will use to manage labeled data.

***Note*** You might want to consider a quick review of the previous tutorial (Pandas Part1) before continuing.

## Instructions
This tutorial provides step-by-step training divided into numbered sections. The sections often contain embeded exectable code for demonstration.  This tutorial is accompanied by a practice notebook with the exact same name but with a `-Practice` suffix.  Throughout this tutorial sections labeled "Practice Task" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png).
  You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook.

## 1. Getting Started

First, we need to import the pandas library (and Numpy library too).  All packages are imported at the top of the notebook. Execute the code in the following cell to get started with this notebook (type Ctrl+Enter in the cell below)

In [1]:
import pandas as pd
import numpy as np

For this tutorial we will use some of the data objects created in the previous Pandas Part 1 tutorial. Specifically these objects.

Recreate:
+ `df`:  a generic data frame containing two columns named "alpha" and "beta".
+ `iris_df`:  a data frame containing the imported iris dataset.

First, let's create the `df` object:

In [ ]:
df = pd.DataFrame(
    {'alpha': [0, 1, 2, 3, 4],
     'beta': ['a', 'b', 'c', 'd', 'e']})

Now let's read in the iris data.  It should be in a `data` directory inside the same directory as this notebook:

In [2]:
iris_df = pd.read_csv('data/iris.csv')

As a reminder, execute the following to view the `df` data frame

In [4]:
iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
10            5.4          3.7           1.5          0.2     setosa
11            4.8          3.4           1.6          0.2     setosa
12            4.8          3.0           1.4          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
17            5.1          3.5           1.4          0.3     setosa
18            5.7          3.8           1.7          0.3     setosa
19            5.1          3.8           1.5          0.3     setosa
20            5.4          3.4           1.7          0.2     setosa
21            5.1          3.7           1.5          0.4     setosa
22            4.6          3.6           1.0          0.2     setosa
23            5.1          3.3           1.7          0.5     setosa
24            4.8          3.4           1.9          0.2     setosa
25            5.0          3.0           1.6          0.2     setosa
26            5.0          3.4           1.6          0.4     setosa
27            5.2          3.5           1.5          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

And let's review the `iris_df` data frame:

In [5]:
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

#### Task 1a: Setup

<span style="float:right; margin-left:10px; clear:both;">![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/96/Apps-gnome-info-icon.png)
</span>

Prepare the practice notebook:
- import pandas
- re-create the `df` data frame
- re-create the `iris_df` data frame

---
## 2. Setting values in a DataFrame object

We often want to change or assign data at specific rows, columns, indexes or slices.

### 2.1. Inserting a New Column

A new column can be added by using a new label as an index to the data frame, and assigning values to it. Let's add a new column to the `df` object. The column will be named `gamma` and consist of a Series of 5 numbers.

In [6]:
new_series = pd.Series([4, 3, 2, 1, 0])
iris_df['gamma'] = new_series
iris_df

     sepal_length  sepal_width  petal_length  petal_width    species  gamma
0             5.1          3.5           1.4          0.2     setosa    4.0
1             4.9          3.0           1.4          0.2     setosa    3.0
2             4.7          3.2           1.3          0.2     setosa    2.0
3             4.6          3.1           1.5          0.2     setosa    1.0
4             5.0          3.6           1.4          0.2     setosa    0.0
5             5.4          3.9           1.7          0.4     setosa    NaN
6             4.6          3.4           1.4          0.3     setosa    NaN
7             5.0          3.4           1.5          0.2     setosa    NaN
8             4.4          2.9           1.4          0.2     setosa    NaN
9             4.9          3.1           1.5          0.1     setosa    NaN
10            5.4          3.7           1.5          0.2     setosa    NaN
11            4.8          3.4           1.6          0.2     setosa    NaN
12            4.8          3.0           1.4          0.1     setosa    NaN
13            4.3          3.0           1.1          0.1     setosa    NaN
14            5.8          4.0           1.2          0.2     setosa    NaN
15            5.7          4.4           1.5          0.4     setosa    NaN
16            5.4          3.9           1.3          0.4     setosa    NaN
17            5.1          3.5           1.4          0.3     setosa    NaN
18            5.7          3.8           1.7          0.3     setosa    NaN
19            5.1          3.8           1.5          0.3     setosa    NaN
20            5.4          3.4           1.7          0.2     setosa    NaN
21            5.1          3.7           1.5          0.4     setosa    NaN
22            4.6          3.6           1.0          0.2     setosa    NaN
23            5.1          3.3           1.7          0.5     setosa    NaN
24            4.8          3.4           1.9          0.2     setosa    NaN
25            5.0          3.0           1.6          0.2     setosa    NaN
26            5.0          3.4           1.6          0.4     setosa    NaN
27            5.2          3.5           1.5          0.2     setosa    NaN
28            5.2          3.4           1.4          0.2     setosa    NaN
29            4.7          3.2           1.6          0.2     setosa    NaN
..            ...          ...           ...          ...        ...    ...
120           6.9          3.2           5.7          2.3  virginica    NaN
121           5.6          2.8           4.9          2.0  virginica    NaN
122           7.7          2.8           6.7          2.0  virginica    NaN
123           6.3          2.7           4.9          1.8  virginica    NaN
124           6.7          3.3           5.7          2.1  virginica    NaN
125           7.2          3.2           6.0          1.8  virginica    NaN
126           6.2          2.8           4.8          1.8  virginica    NaN
127           6.1          3.0           4.9          1.8  virginica    NaN
128           6.4          2.8           5.6          2.1  virginica    NaN
129           7.2          3.0           5.8          1.6  virginica    NaN
130           7.4          2.8           6.1          1.9  virginica    NaN
131           7.9          3.8           6.4          2.0  virginica    NaN
132           6.4          2.8           5.6          2.2  virginica    NaN
133           6.3          2.8           5.1          1.5  virginica    NaN
134           6.1          2.6           5.6          1.4  virginica    NaN
135           7.7          3.0           6.1          2.3  virginica    NaN
136           6.3          3.4           5.6          2.4  virginica    NaN
137           6.4          3.1           5.5          1.8  virginica    NaN
138           6.0          3.0           4.8          1.8  virginica    NaN
139           6.9          3.1           5.4          2.1  virginica    NaN
140           6.7          3.1           5.6          2.4  virginica    NaN
141           6.9          3.1           5.1          2.3  virginica    NaN
142           5.8          2.7           5.1          1.9  virginica    NaN
143           6.8          3.2           5.9          2.3  virginica    NaN
144           6.7          3.3           5.7          2.5  virginica    NaN
145           6.7          3.0           5.2          2.3  virginica    NaN
146           6.3          2.5           5.0          1.9  virginica    NaN
147           6.5          3.0           5.2          2.0  virginica    NaN
148           6.2          3.4           5.4          2.3  virginica    NaN
149           5.9          3.0           5.1          1.8  virginica    NaN

[150 rows x 6 columns]

Alternatively you can use a numpy array instead of a Seris

In [7]:
df['gamma'] = np.array([4, 3, 2, 1, 0])
df

NameError: name 'df' is not defined

If you use Numpy, the array of values provided must have the same number of values as there are rows in the data frame. Observe the effect if the list is too short:

In [ ]:
df['gamma'] = np.array([4, 3, 2, 1])

Howevever with a Series NaN's are used to indicate missing values.  Let's add a new "epsilon" column that is **shorter** than the others:

In [8]:
iris_df['epsilon'] = pd.Series([1, 2, 3])
iris_df

,sepal_length,sepal_width,petal_length,petal_width,species,gamma,epsilon
0,5.1,3.5,1.4,0.2,setosa,4.0,1.0
1,4.9,3.0,1.4,0.2,setosa,3.0,2.0
2,4.7,3.2,1.3,0.2,setosa,2.0,3.0
3,4.6,3.1,1.5,0.2,setosa,1.0,NaN
4,5.0,3.6,1.4,0.2,setosa,0.0,NaN
5,5.4,3.9,1.7,0.4,setosa,NaN,NaN
6,4.6,3.4,1.4,0.3,setosa,NaN,NaN
7,5.0,3.4,1.5,0.2,setosa,NaN,NaN
8,4.4,2.9,1.4,0.2,setosa,NaN,NaN
9,4.9,3.1,1.5,0.1,setosa,NaN,NaN
10,5.4,3.7,1.5,0.2,setosa,NaN,NaN
11,4.8,3.4,1.6,0.2,setosa,NaN,NaN
12,4.8,3.0,1.4,0.1,setosa,NaN,NaN
13,4.3,3.0,1.1,0.1,setosa,NaN,NaN
14,5.8,4.0,1.2,0.2,setosa,NaN,NaN
15,5.7,4.4,1.5,0.4,setosa,NaN,NaN
16,5.4,3.9,1.3,0.4,setosa,NaN,NaN
17,5.1,3.5,1.4,0.3,setosa,NaN,NaN
18,5.7,3.8,1.7,0.3,setosa,NaN,NaN
19,5.1,3.8,1.5,0.3,setosa,NaN,NaN
20,5.4,3.4,1.7,0.2,setosa,NaN,NaN
21,5.1,3.7,1.5,0.4,setosa,NaN,NaN
22,4.6,3.6,1.0,0.2,setosa,NaN,NaN
23,5.1,3.3,1.7,0.5,setosa,NaN,NaN
24,4.8,3.4,1.9,0.2,setosa,NaN,NaN
25,5.0,3.0,1.6,0.2,setosa,NaN,NaN
26,5.0,3.4,1.6,0.4,setosa,NaN,NaN
27,5.2,3.5,1.5,0.2,setosa,NaN,NaN
28,5.2,3.4,1.4,0.2,setosa,NaN,NaN
29,4.7,3.2,1.6,0.2,setosa,NaN,NaN
...,...,...,...,...,...,...,...
120,6.9,3.2,5.7,2.3,virginica,NaN,NaN
121,5.6,2.8,4.9,2.0,virginica,NaN,NaN
122,7.7,2.8,6.7,2.0,virginica,NaN,NaN
123,6.3,2.7,4.9,1.8,virginica,NaN,NaN
124,6.7,3.3,5.7,2.1,virginica,NaN,NaN
125,7.2,3.2,6.0,1.8,virginica,NaN,NaN
126,6.2,2.8,4.8,1.8,virginica,NaN,NaN
127,6.1,3.0,4.9,1.8,virginica,NaN,NaN
128,6.4,2.8,5.6,2.1,virginica,NaN,NaN
129,7.2,3.0,5.8,1.6,virginica,NaN,NaN
130,7.4,2.8,6.1,1.9,virginica,NaN,NaN
131,7.9,3.8,6.4,2.0,virginica,NaN,NaN
132,6.4,2.8,5.6,2.2,virginica,NaN,NaN
133,6.3,2.8,5.1,1.5,virginica,NaN,NaN
134,6.1,2.6,5.6,1.4,virginica,NaN,NaN
135,7.7,3.0,6.1,2.3,virginica,NaN,NaN
136,6.3,3.4,5.6,2.4,virginica,NaN,NaN
137,6.4,3.1,5.5,1.8,virginica,NaN,NaN
138,6.0,3.0,4.8,1.8,virginica,NaN,NaN
139,6.9,3.1,5.4,2.1,virginica,NaN,NaN
140,6.7,3.1,5.6,2.4,virginica,NaN,NaN
141,6.9,3.1,5.1,2.3,virginica,NaN,NaN
142,5.8,2.7,5.1,1.9,virginica,NaN,NaN
143,6.8,3.2,5.9,2.3,virginica,NaN,NaN
144,6.7,3.3,5.7,2.5,virginica,NaN,NaN
145,6.7,3.0,5.2,2.3,virginica,NaN,NaN
146,6.3,2.5,5.0,1.9,virginica,NaN,NaN
147,6.5,3.0,5.2,2.0,virginica,NaN,NaN
148,6.2,3.4,5.4,2.3,virginica,NaN,NaN
149,5.9,3.0,5.1,1.8,virginica,NaN,NaN

Observe the effect if a `pd.Series` object is **longer** than the other columns:

In [9]:
iris_df['theta'] = pd.Series([0, 1, 3, 4, 5, 6])
iris_df

,sepal_length,sepal_width,petal_length,petal_width,species,gamma,epsilon,theta
0,5.1,3.5,1.4,0.2,setosa,4.0,1.0,0.0
1,4.9,3.0,1.4,0.2,setosa,3.0,2.0,1.0
2,4.7,3.2,1.3,0.2,setosa,2.0,3.0,3.0
3,4.6,3.1,1.5,0.2,setosa,1.0,NaN,4.0
4,5.0,3.6,1.4,0.2,setosa,0.0,NaN,5.0
5,5.4,3.9,1.7,0.4,setosa,NaN,NaN,6.0
6,4.6,3.4,1.4,0.3,setosa,NaN,NaN,NaN
7,5.0,3.4,1.5,0.2,setosa,NaN,NaN,NaN
8,4.4,2.9,1.4,0.2,setosa,NaN,NaN,NaN
9,4.9,3.1,1.5,0.1,setosa,NaN,NaN,NaN
10,5.4,3.7,1.5,0.2,setosa,NaN,NaN,NaN
11,4.8,3.4,1.6,0.2,setosa,NaN,NaN,NaN
12,4.8,3.0,1.4,0.1,setosa,NaN,NaN,NaN
13,4.3,3.0,1.1,0.1,setosa,NaN,NaN,NaN
14,5.8,4.0,1.2,0.2,setosa,NaN,NaN,NaN
15,5.7,4.4,1.5,0.4,setosa,NaN,NaN,NaN
16,5.4,3.9,1.3,0.4,setosa,NaN,NaN,NaN
17,5.1,3.5,1.4,0.3,setosa,NaN,NaN,NaN
18,5.7,3.8,1.7,0.3,setosa,NaN,NaN,NaN
19,5.1,3.8,1.5,0.3,setosa,NaN,NaN,NaN
20,5.4,3.4,1.7,0.2,setosa,NaN,NaN,NaN
21,5.1,3.7,1.5,0.4,setosa,NaN,NaN,NaN
22,4.6,3.6,1.0,0.2,setosa,NaN,NaN,NaN
23,5.1,3.3,1.7,0.5,setosa,NaN,NaN,NaN
24,4.8,3.4,1.9,0.2,setosa,NaN,NaN,NaN
25,5.0,3.0,1.6,0.2,setosa,NaN,NaN,NaN
26,5.0,3.4,1.6,0.4,setosa,NaN,NaN,NaN
27,5.2,3.5,1.5,0.2,setosa,NaN,NaN,NaN
28,5.2,3.4,1.4,0.2,setosa,NaN,NaN,NaN
29,4.7,3.2,1.6,0.2,setosa,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
120,6.9,3.2,5.7,2.3,virginica,NaN,NaN,NaN
121,5.6,2.8,4.9,2.0,virginica,NaN,NaN,NaN
122,7.7,2.8,6.7,2.0,virginica,NaN,NaN,NaN
123,6.3,2.7,4.9,1.8,virginica,NaN,NaN,NaN
124,6.7,3.3,5.7,2.1,virginica,NaN,NaN,NaN
125,7.2,3.2,6.0,1.8,virginica,NaN,NaN,NaN
126,6.2,2.8,4.8,1.8,virginica,NaN,NaN,NaN
127,6.1,3.0,4.9,1.8,virginica,NaN,NaN,NaN
128,6.4,2.8,5.6,2.1,virginica,NaN,NaN,NaN
129,7.2,3.0,5.8,1.6,virginica,NaN,NaN,NaN
130,7.4,2.8,6.1,1.9,virginica,NaN,NaN,NaN
131,7.9,3.8,6.4,2.0,virginica,NaN,NaN,NaN
132,6.4,2.8,5.6,2.2,virginica,NaN,NaN,NaN
133,6.3,2.8,5.1,1.5,virginica,NaN,NaN,NaN
134,6.1,2.6,5.6,1.4,virginica,NaN,NaN,NaN
135,7.7,3.0,6.1,2.3,virginica,NaN,NaN,NaN
136,6.3,3.4,5.6,2.4,virginica,NaN,NaN,NaN
137,6.4,3.1,5.5,1.8,virginica,NaN,NaN,NaN
138,6.0,3.0,4.8,1.8,virginica,NaN,NaN,NaN
139,6.9,3.1,5.4,2.1,virginica,NaN,NaN,NaN
140,6.7,3.1,5.6,2.4,virginica,NaN,NaN,NaN
141,6.9,3.1,5.1,2.3,virginica,NaN,NaN,NaN
142,5.8,2.7,5.1,1.9,virginica,NaN,NaN,NaN
143,6.8,3.2,5.9,2.3,virginica,NaN,NaN,NaN
144,6.7,3.3,5.7,2.5,virginica,NaN,NaN,NaN
145,6.7,3.0,5.2,2.3,virginica,NaN,NaN,NaN
146,6.3,2.5,5.0,1.9,virginica,NaN,NaN,NaN
147,6.5,3.0,5.2,2.0,virginica,NaN,NaN,NaN
148,6.2,3.4,5.4,2.3,virginica,NaN,NaN,NaN
149,5.9,3.0,5.1,1.8,virginica,NaN,NaN,NaN

In [14]:
df1= pd.DataFrame(np.random.randn(5,6))
df1

          0         1         2         3         4         5
0 -0.827800 -0.517638 -0.860562  0.044024 -0.359390  0.042335
1  0.733077  0.532435 -1.213629 -0.026773 -1.226703  0.140920
2 -1.172643  1.458595  0.917990  0.020018  0.042843 -1.985329
3 -1.244215  1.198151  0.278816 -1.282317  0.901524 -0.621239
4  1.994820  0.141707 -0.524431 -0.827826  0.150330  0.074755

The values in the Series that were beyond the length of the data frame were excluded.

It is also possible to overwrite existing columns.

In [18]:
df1['gamma'] = pd.Series([1, 1, 1, 1,])
df1

          0         1         2         3         4         5  gamma
0 -0.827800 -0.517638 -0.860562  0.044024 -0.359390  0.042335    1.0
1  0.733077  0.532435 -1.213629 -0.026773 -1.226703  0.140920    1.0
2 -1.172643  1.458595  0.917990  0.020018  0.042843 -1.985329    1.0
3 -1.244215  1.198151  0.278816 -1.282317  0.901524 -0.621239    1.0
4  1.994820  0.141707 -0.524431 -0.827826  0.150330  0.074755    NaN

In contrast to adding new columns, adding a single new rows is not typically done.

**Why?**

`pd.Series` objects have indexes! When we add them, Pandas adds and aligns their values by their indexes. By default these are integer indexes.

#### Task 2a: Inserting Columns

<span style="float:right; margin-left:10px; clear:both;">![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/96/Apps-gnome-info-icon.png)
</span>

Create a copy of `df`, and modify it:

+ add a new column to the `
+ select and set values using a boolean operator.

---
## 3. Missing Data

As shown in the previous section, missing values are represented as 'NaN' in the table display. You can test for missing values or add missing values using the Numpy `np.nan` value: 

> pandas primarily uses the value `np.nan` to represent missing data. It is by default not included in computations. See the [Missing Data section](https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html#missing-data).

You can read more about the special types of float objects that are `np.nan` and `np.inf` [here](https://docs.scipy.org/doc/numpy-1.13.0/user/misc.html).

The choice of what to do with missing data is specific to the analytic you are performing. Two common approaches are to drop rows (or columns) with missing data, or to impute (fill) the empty cells.  To explore this, first build a dataframe with missing values. An easy way to do this is to assign a series that is shorter than the rest to an existing dataframe.  First let's look again at the `df` data frame:

In [19]:
df1

          0         1         2         3         4         5  gamma
0 -0.827800 -0.517638 -0.860562  0.044024 -0.359390  0.042335    1.0
1  0.733077  0.532435 -1.213629 -0.026773 -1.226703  0.140920    1.0
2 -1.172643  1.458595  0.917990  0.020018  0.042843 -1.985329    1.0
3 -1.244215  1.198151  0.278816 -1.282317  0.901524 -0.621239    1.0
4  1.994820  0.141707 -0.524431 -0.827826  0.150330  0.074755    NaN

We introduced missing values when we added the "epsilon" column.  Let's remove all rows with any missing values:

In [20]:
df1.dropna()

          0         1         2         3         4         5  gamma
0 -0.827800 -0.517638 -0.860562  0.044024 -0.359390  0.042335    1.0
1  0.733077  0.532435 -1.213629 -0.026773 -1.226703  0.140920    1.0
2 -1.172643  1.458595  0.917990  0.020018  0.042843 -1.985329    1.0
3 -1.244215  1.198151  0.278816 -1.282317  0.901524 -0.621239    1.0

**Note**: By default, `dropna()` (and fair number of other functions) do not modify the data frame 'in place', rather they return a modified copy.  We did not store this modified data frame in another variable in the code above, so Python prints it.  Thus, observe that if we print the `df` object it remains intact.

In [21]:
df1

          0         1         2         3         4         5  gamma
0 -0.827800 -0.517638 -0.860562  0.044024 -0.359390  0.042335    1.0
1  0.733077  0.532435 -1.213629 -0.026773 -1.226703  0.140920    1.0
2 -1.172643  1.458595  0.917990  0.020018  0.042843 -1.985329    1.0
3 -1.244215  1.198151  0.278816 -1.282317  0.901524 -0.621239    1.0
4  1.994820  0.141707 -0.524431 -0.827826  0.150330  0.074755    NaN

If you would like to have the data frame change "in place", then you then have two choices:
+ Use the `dropna` function's `inplace=True` argument.
+ Assign the result, using the same name.
    `df = df.dropna()`

In some cases, setting missing values to some other value (such as 0) may be appropriate.  This can be accomplished using the `df.fillna()` function and passing in the desired value.

In [22]:
df1.fillna(0)

          0         1         2         3         4         5  gamma
0 -0.827800 -0.517638 -0.860562  0.044024 -0.359390  0.042335    1.0
1  0.733077  0.532435 -1.213629 -0.026773 -1.226703  0.140920    1.0
2 -1.172643  1.458595  0.917990  0.020018  0.042843 -1.985329    1.0
3 -1.244215  1.198151  0.278816 -1.282317  0.901524 -0.621239    1.0
4  1.994820  0.141707 -0.524431 -0.827826  0.150330  0.074755    0.0

#### Task 3a: Missing Data

<span style="float:right; margin-left:10px; clear:both;">![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/96/Apps-gnome-info-icon.png)
</span>

Create two new copies of the `df` dataframe:

+ One with the `NaN` values replaced with a value of your choice.
+ One with the rows with `NaN` values removed.

---
## 4. Operations

Pandas comes with functions that "operate" or act on on rows or columns. Some of these include calculating the mean, covariance, correlation, percent change, etc.

### 4.1 Mathematical Operations

To explore these operations, Let's review the `iris_df` data frame:

In [23]:
iris_df.head(2)

,sepal_length,sepal_width,petal_length,petal_width,species,gamma,epsilon,theta
0,5.1,3.5,1.4,0.2,setosa,4.0,1.0,0.0
1,4.9,3.0,1.4,0.2,setosa,3.0,2.0,1.0

to demonstrate the use of operation lets caculate the mean of each column.  The `df.mean()` provides this:

In [24]:
iris_df.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
gamma           2.000000
epsilon         2.000000
theta           3.166667
dtype: float64

Recall that we can call `help()` on an existing object, or its abstract form.

```python
help(pd.DataFrame.mean)
# Should be mostly the same as:
help(iris_df.mean)
```

For example:

In [25]:
help(pd.DataFrame.mean)

Help on function mean in module pandas.core.frame:

mean(self, axis=None, skipna=None, level=None, numeric_only=None, **kwargs)
    Return the mean of the values for the requested axis

    Parameters
    ----------
    axis : {index (0), columns (1)}
    skipna : boolean, default True
        Exclude NA/null values when computing the result.
    level : int or level name, default None
        If the axis is a MultiIndex (hierarchical), count along a
        particular level, collapsing into a Series
    numeric_only : boolean, default None
        Include only float, int, boolean columns. If None, will attempt to use
        everything, then use only numeric data. Not implemented for Series.

    Returns
    -------
    mean : Series or DataFrame (if level specified)

According to the help instructions returned by the previous line of code, how can we calculate the mean of the rows rather than the columns?  

The answer is by providing an appropriate argument.

In [26]:
iris_df.mean(1).head(7)

0    2.171429
1    2.214286
2    2.485714
3    2.400000
4    2.533333
5    3.480000
6    2.425000
dtype: float64

#### Task 4a: Operations

<span style="float:right; margin-left:10px; clear:both;">![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/96/Apps-gnome-info-icon.png)
</span>

View the [Computational tools](https://pandas.pydata.org/pandas-docs/stable/user_guide/computation.html) and [statistical methods](https://pandas.pydata.org/pandas-docs/stable/user_guide/computation.html#method-summary) documentation.
Using the list of operational functions choose 5 to practice using the iris data frame.

In [27]:
iris_df.mean(2).head(7)

ValueError: No axis named 2 for object type <class 'pandas.core.frame.DataFrame'>

### 4.2 Apply

Another common operation is the ability to apply another function to a set of rows or columns (or a subset created from slicing). To efficiently apply functions in this way there is the `df.apply` method.

Here is an exceprt from the `df.apply` documentation:

```python
apply(func, axis=0, broadcast=None, raw=False, reduce=None, result_type=None, args=(), **kwds)
```

You can see the full help documetnation with by executing the following line:

In [29]:
help(df1.apply)

Help on method apply in module pandas.core.frame:

apply(func, axis=0, broadcast=None, raw=False, reduce=None, result_type=None, args=(), **kwds) method of pandas.core.frame.DataFrame instance
    Apply a function along an axis of the DataFrame.

    Objects passed to the function are Series objects whose index is
    either the DataFrame's index (``axis=0``) or the DataFrame's columns
    (``axis=1``). By default (``result_type=None``), the final return type
    is inferred from the return type of the applied function. Otherwise,
    it depends on the `result_type` argument.

    Parameters
    ----------
    func : function
        Function to apply to each column or row.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Axis along which the function is applied:

        * 0 or 'index': apply function to each column.
        * 1 or 'columns': apply function to each row.
    broadcast : bool, optional
        Only relevant for aggregation functions:

        * ``False`` or ``None`` : returns a Series whose length is the
          length of the index or the number of columns (based on the
          `axis` parameter)
        * ``True`` : results will be broadcast to the original shape
          of the frame, the original index and columns will be retained.

        .. deprecated:: 0.23.0
           This argument will be removed in a future version, replaced
           by result_type='broadcast'.

    raw : bool, default False
        * ``False`` : passes each row or column as a Series to the
          function.
        * ``True`` : the passed function will receive ndarray objects
          instead.
          If you are just applying a NumPy reduction function this will
          achieve much better performance.
    reduce : bool or None, default None
        Try to apply reduction procedures. If the DataFrame is empty,
        `apply` will use `reduce` to determine whether the result
        should be a Series or a DataFrame. If ``reduce=None`` (the
        default), `apply`'s return value will be guessed by calling
        `func` on an empty Series
        (note: while guessing, exceptions raised by `func` will be
        ignored).
        If ``reduce=True`` a Series will always be returned, and if
        ``reduce=False`` a DataFrame will always be returned.

        .. deprecated:: 0.23.0
           This argument will be removed in a future version, replaced
           by ``result_type='reduce'``.

    result_type : {'expand', 'reduce', 'broadcast', None}, default None
        These only act when ``axis=1`` (columns):

        * 'expand' : list-like results will be turned into columns.
        * 'reduce' : returns a Series if possible rather than expanding
          list-like results. This is the opposite of 'expand'.
        * 'broadcast' : results will be broadcast to the original shape
          of the DataFrame, the original index and columns will be
          retained.

        The default behaviour (None) depends on the return value of the
        applied function: list-like results will be returned as a Series
        of those. However if the apply function returns a Series these
        are expanded to columns.

        .. versionadded:: 0.23.0

    args : tuple
        Positional arguments to pass to `func` in addition to the
        array/series.
    **kwds
        Additional keyword arguments to pass as keywords arguments to
        `func`.

    Notes
    -----
    In the current implementation apply calls `func` twice on the
    first column/row to decide whether it can take a fast or slow
    code path. This can lead to unexpected behavior if `func` has
    side-effects, as they will take effect twice for the first
    column/row.

    See also
    --------
    DataFrame.applymap: For elementwise operations
    DataFrame.aggregate: only perform aggregating type operations
    DataFrame.transform: only perform transformating type operations

    Examples
    --------

    >>> df = pd.DataFrame([[4, 9],] * 3, columns=['A', 'B'])
    >>> df
       A  B
    0  4  9
    1  4  9
    2  4  9

    Using a numpy universal function (in this case the same as
    ``np.sqrt(df)``):

    >>> df.apply(np.sqrt)
         A    B
    0  2.0  3.0
    1  2.0  3.0
    2  2.0  3.0

    Using a reducing function on either axis

    >>> df.apply(np.sum, axis=0)
    A    12
    B    27
    dtype: int64

    >>> df.apply(np.sum, axis=1)
    0    13
    1    13
    2    13
    dtype: int64

    Retuning a list-like will result in a Series

    >>> df.apply(lambda x: [1, 2], axis=1)
    0    [1, 2]
    1    [1, 2]
    2    [1, 2]
    dtype: object

    Passing result_type='expand' will expand list-like results
    to columns of a Dataframe

    >>> df.apply(lambda x: [1, 2], axis=1, result_type='expand')
       0  1
    0  1  2
    1  1  2
    2  1  2

    Returning a Series inside the function is similar to passing
    ``result_type='expand'``. The resulting column names
    will be the Series index.

    >>> df.apply(lambda x: pd.Series([1, 2], index=['foo', 'bar']), axis=1)
       foo  bar
    0    1    2
    1    1    2
    2    1    2

    Passing ``result_type='broadcast'`` will ensure the same shape
    result, whether list-like or scalar is returned by the function,
    and broadcast it along the axis. The resulting column names will
    be the originals.

    >>> df.apply(lambda x: [1, 2], axis=1, result_type='broadcast')
       A  B
    0  1  2
    1  1  2
    2  1  2

    Returns
    -------
    applied : Series or DataFrame

Observe that the first argument passed to `apply` is the function that should be "applied" to the data frame. As an exmaple, we can proivde the `print` function to print each of the columns separately:

In [30]:
df1.apply(print)

0   -0.827800
1    0.733077
2   -1.172643
3   -1.244215
4    1.994820
Name: 0, dtype: float64
0   -0.517638
1    0.532435
2    1.458595
3    1.198151
4    0.141707
Name: 1, dtype: float64
0   -0.860562
1   -1.213629
2    0.917990
3    0.278816
4   -0.524431
Name: 2, dtype: float64
0    0.044024
1   -0.026773
2    0.020018
3   -1.282317
4   -0.827826
Name: 3, dtype: float64
0   -0.359390
1   -1.226703
2    0.042843
3    0.901524
4    0.150330
Name: 4, dtype: float64
0    0.042335
1    0.140920
2   -1.985329
3   -0.621239
4    0.074755
Name: 5, dtype: float64
0    1.0
1    1.0
2    1.0
3    1.0
4    NaN
Name: gamma, dtype: float64

0        None
1        None
2        None
3        None
4        None
5        None
gamma    None
dtype: object

We can use `apply` to find the the data type of each column using the the built-in function `type`:

In [31]:
df1.apply(type)

0        <class 'pandas.core.series.Series'>
1        <class 'pandas.core.series.Series'>
2        <class 'pandas.core.series.Series'>
3        <class 'pandas.core.series.Series'>
4        <class 'pandas.core.series.Series'>
5        <class 'pandas.core.series.Series'>
gamma    <class 'pandas.core.series.Series'>
dtype: object

We can use `apply` to calcualte the sum of each columns:

In [32]:
df1.apply(np.sum)

0       -0.516761
1        2.813251
2       -1.401815
3       -2.072874
4       -0.491397
5       -2.348558
gamma    4.000000
dtype: float64

**Note**: by default `apply` performs the supplied function across columns.  To apply the function across rows, use the `axis` argument (see the help for `apply` above).

In [33]:
iris_df.head(5)

,sepal_length,sepal_width,petal_length,petal_width,species,gamma,epsilon,theta
0,5.1,3.5,1.4,0.2,setosa,4.0,1.0,0.0
1,4.9,3.0,1.4,0.2,setosa,3.0,2.0,1.0
2,4.7,3.2,1.3,0.2,setosa,2.0,3.0,3.0
3,4.6,3.1,1.5,0.2,setosa,1.0,NaN,4.0
4,5.0,3.6,1.4,0.2,setosa,0.0,NaN,5.0

#### Task 4b:  Apply

<span style="float:right; margin-left:10px; clear:both;">![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/96/Apps-gnome-info-icon.png)
</span>

Practice using `apply` on either the `df` or `iris_df` data frames using any two functions of your choice.

## 4.3 Occurances

You can calculate the number of occurances for a set of values in a `pd.Series` object using the `value_counts` function.  These counts are similar to what you would see in a Histogram.  As an example, let's create a new series containing 10 random integers between 1 and 7. Then we will use `value_counts` to observe how many occurances there are of each integer.  First let's create the series:

In [34]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    6
1    0
2    4
3    4
4    0
5    2
6    5
7    0
8    2
9    6
dtype: int32

Now we'll use `value_counts` to create our "histogram" or occurances of each integer:

In [35]:
s.value_counts()

0    3
6    2
4    2
2    2
5    1
dtype: int64

#### Task 4c.  Occurances

<span style="float:right; margin-left:10px; clear:both;">![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/96/Apps-gnome-info-icon.png)
</span>

Ientify the number of occurances for each species (virginica, versicolor, setosa) in the `iris_df` object.  *Hint*: the `value_counts` function only works on a `pd.Series` object, not on the full data frame.

In [41]:
a = pd.Series(iris_df['species'])
a

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
5         setosa
6         setosa
7         setosa
8         setosa
9         setosa
10        setosa
11        setosa
12        setosa
13        setosa
14        setosa
15        setosa
16        setosa
17        setosa
18        setosa
19        setosa
20        setosa
21        setosa
22        setosa
23        setosa
24        setosa
25        setosa
26        setosa
27        setosa
28        setosa
29        setosa
         ...
120    virginica
121    virginica
122    virginica
123    virginica
124    virginica
125    virginica
126    virginica
127    virginica
128    virginica
129    virginica
130    virginica
131    virginica
132    virginica
133    virginica
134    virginica
135    virginica
136    virginica
137    virginica
138    virginica
139    virginica
140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [42]:
a.value_counts()

virginica     50
versicolor    50
setosa        50
Name: species, dtype: int64

## 5. String Methods

Many times data sets will have columns with string values that must be modified in some way, such as being split from one column to two, or vice versa. 

To demonstrate string methods, lets adjust the `df` object to add some strings.  As a reminder lets look at the df object:

In [43]:
df1.head(2)

          0         1         2         3         4         5  gamma
0 -0.827800 -0.517638 -0.860562  0.044024 -0.359390  0.042335    1.0
1  0.733077  0.532435 -1.213629 -0.026773 -1.226703  0.140920    1.0

As a reminder lets find the dimensions of this data frame:

In [44]:
df1.shape

(5, 7)

To demonstrate let's create some lists of strings

In [ ]:
labels = ['alpha', 'beta', 'gamma', 'delta']
more_labels = ['foxtrot', 'whiskey', 'omega','epsilon','startrek']

Next, we'll demonstrate use of the Numpy `np.random.choice` function to create two new columns for the `df` dataframe using randomized values from the two lists of strings we just created.  Take some time to make sure the following code is clear.

In [ ]:
df['iota'] = np.random.choice(labels, df.shape[0])
df['kappa'] = np.random.choice(more_labels, df.shape[0])
df

**Reminder:** *Creating new columns with numpy arrays only works if they are of the same length as the existing dataframe.

### 5.1 Combining Strings

Combining the strings from two different columns is easy!  For example, we can create a new column named `lambda` which contains the values of the `iota` and `kappa` columns by simply using the `+` operator.  We can include an underscore to separate the words:

In [ ]:
df['lambda'] = df['iota'] + '_' + df['kappa']
df

### 5.2 Splitting Columns

Before we split a column of strings into two different columns we must remember that each column in a data frame is a `pd.Series` object.  The `pd.Series` object has an attribute named `str`.  The `str` attribute is itself an object of type  `pandas.core.strings.StringMethods` and this object provides us with a variety of functions for working with the strings in the series... including a function named `split`. 

First, examine the `str` attribute of the `lambda` column of the data frame:

In [ ]:
df['lambda'].str

Observe that it is an object.  We can therefore call its `split` function.  This function will iterate through each of the strings in the series and split them using the specified delimiter.

In [ ]:
df['lambda'].str.split('_')

Observe that each row of the `lambda` column was split and a new `pd.Series` was returned with each element a list of two strings. We now have the two strings we need for the two new columns!  

However, remember that the value returned from the `split` function is also a `pd.Series` object.  We need two new `pd.Series` objects (one for each new column) not one. So, we need to separate the list at each position into two separate `pd.Series` objects. We can do this by using the `str` attribute again.  To seprate the two elements into two new `pd.Series` objects we can simply assign the `str` attribute to two new variables. The values will automatically unpack:

In [ ]:
split_1, split_2 = df['lambda'].str.split('_', 1).str
split_1

Observe that the `split_1` variable is now a `pd.Seires` object that contains only the first values from each element. The `split_2` will be the second set of strings.  We can simplify all of this into a single line of code that automatically adds two new columns to the `df` dataframe:

In [ ]:
df['split_1'], df['split_2'] = df['lambda'].str.split('_', 1).str
df

#### Task 5a: String Methods

<span style="float:right; margin-left:10px; clear:both;">![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/96/Apps-gnome-info-icon.png)
</span>

Demonstrate the spliting and combination of columns.

+ Create your list of words, as shown above.
+ Combine two or more columns into one. *You can use string combinations, or do math on numeric columns.*
+ Split a column into two.

---
## 6. Combining DataFrames

Often it is useful to combine two or more dataframes wither by merging, joining, contenating or grouping.  We will explore each of these operations. 

***Note***: For a much more exahustive description of merging, joining and contatenation, and helpful diagrams, see the [documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html).

To demonstrate concatenation, lets use the iris data frame.  But first let's break it up into separate species-specific data frames, i.e. one dataframe per species.  We can use Fancy Indexing from the Pandas Part 1 tutorial to do this:

In [46]:
setosa_df = iris_df[iris_df['species'] == 'setosa']
versicolor_df = iris_df[iris_df['species'] == 'versicolor']
virginica_df = iris_df[iris_df['species'] == 'virginica']

Let's breifly peek at each dataframe to make sure we split them correctly:

In [47]:
setosa_df.head(3)

,sepal_length,sepal_width,petal_length,petal_width,species,gamma,epsilon,theta
0,5.1,3.5,1.4,0.2,setosa,4.0,1.0,0.0
1,4.9,3.0,1.4,0.2,setosa,3.0,2.0,1.0
2,4.7,3.2,1.3,0.2,setosa,2.0,3.0,3.0

In [48]:
setosa_df.shape

(50, 8)

In [49]:
versicolor_df.head(3)

,sepal_length,sepal_width,petal_length,petal_width,species,gamma,epsilon,theta
50,7.0,3.2,4.7,1.4,versicolor,NaN,NaN,NaN
51,6.4,3.2,4.5,1.5,versicolor,NaN,NaN,NaN
52,6.9,3.1,4.9,1.5,versicolor,NaN,NaN,NaN

In [ ]:
versicolor_df.shape

In [ ]:
virginica_df.head(3)

In [ ]:
virginica_df.shape

Observe that each data frame is exactly 50 rows long and each one contains only the species specific data. Now, for the rest of this section, let's assume that we imported these iris species data as separate data frames.

### 6.1 Merging

Suppose now that we imported the species-specific iris data frames and we now want to merge them.  We can do this using the `pd.concat` function.  By default, the `pd.concat` function tries to merge data frames by combining the rows of each data frame one after the other.  This image from the Pandas documentation demonstrates the process:

![rows concat](https://pandas.pydata.org/pandas-docs/stable/_images/merging_concat_basic.png)

The first argument that the `pd.concat` function accepts is a list of dataframes that should be merged. Therefore, we must first create a list of the individual data frames.

In [ ]:
pieces = [setosa_df, versicolor_df, virginica_df]

We can now call `pd.concat` to merge the three data frames:

In [ ]:
new_iris_df = pd.concat(pieces)
new_iris_df.head(3)

In [ ]:
new_iris_df.shape

Observe that the `new_iris_df` data frame is now back to 150 rows!

In [ ]:
new_iris_df.sample(4)

***Note***, the code above works because all the columns match.  What if the columns did not match To explore this consider the following data frames from the Pandas documentation:

In [ ]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                    index=[2, 3, 6, 7])
df4

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])
df1

Suppose we wanted to merge these two data frames?  Unlike the previous example we want to merge by concatnating columns rathar than rows.  To concatenate by colmns we can pass the `axis` argument. A value of `1` tells the funtion to concatenate by columns:

```python
  pd.concat([df1, df4], axis=1)
```

However, notice that each data frame has some columns in common, and some of the row indexes are in common, but both have some columns and rows that are not shared. How will `pd.concat` handle this?

In [ ]:
pd.concat([df1, df4], axis=1)

Observe that the columns of the two tables are set side-by-side, even though some of the columns have the same name, and rows with the same index between the two data frames are merged.  Any columns that are missing in one data frame will have missing values added in.

If we want to only include rows that have no missing values we can use the argument `join="inner"` to automatically remove them:

In [ ]:
pd.concat([df1, df4], axis=1, join='inner')

### 6.2 Append

Adding rows to a dataframe is simple enough using the `append` function.  To demonstrate this, lets create a 4x6 data frame containing a collection of random numbers:

In [ ]:
rand_df = pd.DataFrame(np.random.random((4, 6)))
rand_df

Now suppose we want to append a new row to that data frame.  Let's create a new `pd.Series` object containing the same number of random numbers as there are columns in the data frame:

In [ ]:
rand_row = pd.Series(np.random.random(6) * 100)

Now we an call the `append` function.  Unlike the `pd.concat` function, the `append` function belongs to the `pd.DataFrame` object.  The `append` function takes the new series as its first agument. We alsO pass the `ignore_index` argument set to `True`. This forces the append to renumber the row indexes.

In [ ]:
rand_df.append(rand_row, ignore_index=True)

***Note*** the `append` function does not alter 'in place' the `rand_df` data frame. Instead it returns a new data frame with the row appended.

There are more complex ways in which rows can be appended to data frames. Remember to view the [online documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.append.html#pandas.DataFrame.append) in the future if your use cases are different from those shown here.

#### Task 6a: Concat and append data frames

<span style="float:right; margin-left:10px; clear:both;">![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/96/Apps-gnome-info-icon.png)
</span>

Create two new dataframes and use them to demonstrate use of the following functions:

+ `pd.concat()`
+ `df.append()`

## 6.3 Grouping

Grouping using the `groupby` function of a `pd.DataFrame` object is a powerful sorting and subsetting tool of Pandas. The grouping performs three operations:  

- Splitting the data frame
- Applying a function
- Combining the results


This is best demonstrated with an example. Lets remind ourselves of the iris data frame:

In [ ]:
iris_df.sample(5)

Suppose we want to know the mean width and length of each tissue (sepal and petal) for each species. We can create a new data frame that contains this information by "grouping".  Because we want to "collapse" our species data into a mean for each column, we want to group using the `species` column. If we run the `groupby` function using the species column we get the following:

In [ ]:
iris_df.groupby('species')

Notice that the `groupBy` function returns a new object named `pandas.core.groupby.groupby.DataFrameGroupBy` or a `DataFrameGroupBy` object for short.  Lets re-run that command and save that object in a variable:

In [ ]:
groups = iris_df.groupby('species')

What exactly is a `DataFrameGroupBy` object?  Lets dig in to find out what is happening here. Fortunately, this object allows us to iterate over its "groups".  Let's see what they are:

In [ ]:
for group in groups:   
  print(type(group))
  print(group)
  break

Observe that the groups are tubles.  Remember a tuple is like a list, but unlike a list,once it is created you can not change it. Tuples are represented using parentheses, `(` and `)`, rather than square brakets.  The first element of the tuple is the key. In the example printed above the key is `setosa`.  The second element of the tuple are the rows that belong to that group.   We learn from this, that the `DataFrameGroupBy`object is a list of tuples, where each tuple contains the rows of hte data frame that belong to the group.

Now that we have our groups we can apply a function and retreive a new data frame.  To get the mean we simply call `mean` on the groups object:

In [ ]:
groups.mean()

It is possible to have `groupby()` use more than one column to group. To demonstrate, let's suppose we took measurements of the iris sepal and petals at two different developmental stages: early and late flowering. We want to cacluate the mean for those two different periods.  In this case we would need to group by the `species` and by a new development stage column.  Let's create one by randomly assigning the development stage (of course in reality this data would be provided):

In [ ]:
iris_df['dev_stage'] = np.random.choice(['early', 'late'], iris_df.shape[0])
iris_df.head()

Now let's group by both `species` and `dev_stage` and calcualte the mean:

In [ ]:
groups = iris_df.groupby(['species', 'dev_stage'])
groups.mean()

#### Task 6b: Grouping

<span style="float:right; margin-left:10px; clear:both;">![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/96/Apps-gnome-info-icon.png)
</span>

Demonstrate a `groupby`.

+ Create a new column with the label `region` in the iris data frame. This column will indicates geographic regions of the US where measurments were taken. Values should include:  'Southeast', 'Northeast', 'Midwest', 'SouthWest', 'Pacific Northwest. (These can be randomly assigned).
+ Use `groupby` to get a new data frame of means for each species in each region.
+ Add the `dev_stage` column using the commands shown in section 6.3
+ Use `groupby` to get a new data frame of means for each species,in each region and each development stage.
+ Use the `count` function (just like you used the `mean` function) to identify how many rows in the table belong to each combination of species + region + developmental stage.